# Binary
tenda-n300

# Go test artifacts
*.test
*.out
*.test.exe

# Editor files
.vscode/
.idea/
*.iml
*.swp
*.swo
*~
*.orig

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
tenda-n300.exe
